/*  Fonts*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vch12l');
  src:  url('../fonts/icomoon.eot?vch12l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vch12l') format('truetype'),
    url('../fonts/icomoon.woff?vch12l') format('woff'),
    url('../fonts/icomoon.svg?vch12l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}


body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

table {
	width: 100%;
}

th{
	background: #273b47;
	color: white;
	padding: 10px 20px;
	text-align: left;
}

td {
	padding: 20px;
}

table, td, th {
	border: 1px solid #273b47;
	border-collapse: collapse;
}

input, textarea {
	outline: 0;
}

input:focus, textarea:focus{
	background: lightgray;
}

.contenedor {
	max-width: 800px;
	margin: auto;
	position: relative;
}

.background {
	background-image: url('../img/background.png');
	background-size: cover;
}

.button{
	border-radius: 12px;
	background: #fd324e;
	color: white;
	border: none;
	padding: 7px 12px;
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	background: linear-gradient(to left, #fe344e, #ff7250);
}

.titulo {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
	margin-top: 70px;
}

.title-a {
   font-size: 20px;
   margin-top: 20px;
   margin-left: 5px;
   margin-bottom: 30px;
}

.guitarras {
   color: #1f313c;
   margin-bottom: 60px;
}

.guitarras h2 {
    font-size: 35px;
    
}

.title-b {
	font-size: 50px;
	margin-bottom: 20px;
}

.titulo span{
	text-decoration: underline;
}

.portada {
	
	color: white;	
	padding: 20px;
	height: 500px;
}

.portada button {
  margin-bottom: 70px;
}

.menu {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu a{
   color: white;
   text-decoration: none;
}

.menu li {
	display: inline-block;
	margin-left: 30px;
}

.menu li:before{
  
}

.logo {
	display: inline-block;
	margin: 0;
}

.header {
 	position: relative;
}


.guitarra{
	/*overflow: hidden;*/
	padding: 10px;
	margin: 10px 10px 40px 10px;
	border: 1px solid #1F313C;
	border-radius: 8px;
}

.guitarra ol {
	padding: 0px;
}

.guitarra.b {
  height: 190px;
}

.right {
	float: right;
	position: relative;
	top: -127px;
}

.left {
	float: left;
	position: relative;
	
}

.contenedor-guitarra-b {
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.contenedor-guitarra-a{
  padding-left: 20px;
}

.footer {
	background: #273b47;
	padding: 50px 0;
}

.contacto {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.formulario {
	display: flex;
	width: 400px;
	color: white;
	
}

.col1, .col2 {
display: flex;
flex-direction: column;

}

.col1 {
	margin-right: 15px;
}

.col2 {
	align-items: flex-start;
}

.col2 .button {
	margin-top: 15px;
	margin-left: 100px;
}

.intereses label {
	font-size: 11px;
}

.formulario label, .sexo, .intereses {
	margin-bottom: 12px;	
}

.formulario .sexo {
	margin-top: 12px;
}

.table {
	margin: 50px 0;
}

.burger-button {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	display: none;
	background: #395667;
	text-align: center;
	position: fixed;
	left: 20px;
	top: 20px;
	cursor: pointer;
	z-index: 3;
	color: white;

}

.video-res{
	position: relative;
	padding-top:56.25%;
}

.video-src{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.video-demo{
	max-width: 500px;
	width: 100%;
	border: 5px solid #3c5b6e;
}

.demo-contenedor{
	display: flex;
	justify-content: center;
	margin: 0 10px 120px 10px;
}

@media screen and (max-width: 800px) {

	
     .table {
     	margin: 50px 10px;		
     }
	.table .contenedor {
		overflow: auto;
		
	}

	.titulo {
		font-size: 45px;
		margin-top: 40px;
	}

	.title-a{
		font-size: 17px;
	}

	.portada{
		height: auto;
	}

	.portada .button {
		margin-bottom: 40px;
		display: inline-block;
	}

	/*guitarras */
		.guitarras {
		text-align: center;
	}

	.right, .left {
		float: none;
		position: static;
	}

 .title-b {
 	margin: 0;
 }

  .guitarra li {
  	list-style: none;
  }

  .guitarra.b {
  	height: auto;
  }

  .contenedor-guitarra-b{
  	  	margin: 0;
  	position: static;
  }
 
  .footer {
  	padding: 51px 18px;
  }

  .demo-contenedor{
  	margin-bottom: 30px;
  }

  

}

@media screen and (max-width: 767px){
	
	.footer .contenedor{
		display: block;

	}
	.contacto {
		margin: 0 auto;
	}

	.formulario {
		margin: 0 auto;
		display: block;
		width: 300px;
		text-align: left;
	}
	.intereses label{
		display: block;
		font-size: 15px;
	}
	input[type="text"], input[type="email"] {
		font-size: 16px;
		padding: 5px;
	}
	.col1 label[for="contacto"]{
		display: none;
	}
	.col1 label[for="email"]{
		margin-top: 10px;
	}
    textarea {
    	width: 100%;
    }
    .col1 {
    	margin:0;
    }
     input[type="radio"], input[type="checkbox"] {
		zoom: 1.5;
	}
	}
	

@media screen and (max-width: 650px){
  
   .header {
   	text-align: center;
   }
  .menu {
  	position: static;
  	display: block;
  }

  .menu li:first-child {
    margin: 0;
  }

  .menu ul {
  	padding: 0;
  }

  .contenedor {
  	text-align: center;
  }
}

@media screen and (max-width: 450px){
	.precios .header .logo{
		margin: 30px 0;
	}

	.burger-button {
		display: inline-block;
	}

	.portada .contenedor {
		position: static;
	}
    .header .contenedor{
     position: static;
    }
    .header{
    	position: static;
    }
	.menu{
		background: rgba(255,60,88, .8);
		position: fixed;
		left: 0;
		top:0;
		bottom: 0;
		right: 0;
		z-index: 2;
		display: flex;
		align-items: center;
		width: 100%;
		left: -100%;
		transition: 3ms;
	}

	.menu.active {
		left: 0;
	}

	.menu li {
		display: block;
		margin: 0;
		padding: 10px 0;
		border-bottom: 1px solid white;
	}

	.menu li:first-child {
		border-top: 1px solid white;
	}

    .menu ul {
    	flex: 1;
    }
	.portada {
		text-align: center;
	}
	.titulo {
		font-size: 35px;
	}
	.guitarra img {
		width: 200px;
		height: auto;
	}
	.title-b {
		font-size: 40px;
	}
	.contenedor-guitarra-a{
		padding: 0;
	}
	.contacto {
		justify-content: center;
	}
	.contacto img{
		margin-bottom: 10px;
	}

	 
} 

@media screen and(-webkit-min-device-pixel-ratio: 2){
  .background: {
   background-image: url('..img/background2x.png');
  }
}